<footer class="bg-dark text-white text-center py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <p>Carlos Matos</p>
            </div>
            <div class="col-md-6 text-center">
                <a href="https://github.com/Carlos2390" class="btn btn-primary" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/carlos-matos-400309237/" class="btn btn-primary" target="_blank">LinkedIn</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <p>Davi Teixeira</p>
            </div>
            <div class="col-md-6 text-center">
                <a href="https://github.com/usuario-github2" class="btn btn-primary" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/usuario-linkedin2" class="btn btn-primary" target="_blank">LinkedIn</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <p>Gustavo Taglianeti</p>
            </div>
            <div class="col-md-6 text-center">
                <a href="https://github.com/usuario-github3" class="btn btn-primary" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/usuario-linkedin3" class="btn btn-primary" target="_blank">LinkedIn</a>
            </div>
        </div>
    </div>
</footer>
